.app {
  font-family: sans-serif;
  /* text-align: center; */
  border: 1px solid black;
  display: grid;
}

.box {
  height: 0;
  padding-bottom: 100%;
  border: 1px solid black;
}

.odd {
  background-color: black;
  color: rgb(231, 231, 231);
}

.button_layout {
  padding: 10px;
  display: flex;
  gap: 10px;
  /* justify-content: center; */
}
